<div id="override-feature-margins" class="feat-block position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 font-weight-normal">Summarize Books</h1>
      <p class="lead font-weight-normal">Simplify Complex Books for others.</p>
      <a class="btn btn-outline-dark" href="#">View Book Notes</a>
    </div>
  </div>