<header>
  <div class="px-3 py-2 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
          <svg class="bi me-2" width="70" height="55" fill="#ffffff" viewBox="0 0 256 256" id="Flat" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M237.47852,194.54l-8.28223-30.91016h0L196.06787,39.99023a20.02074,20.02074,0,0,0-24.49463-14.14062l-29.5459,7.91663A19.92737,19.92737,0,0,0,128,28H96a19.86774,19.86774,0,0,0-8,1.68152A19.86774,19.86774,0,0,0,80,28H48A20.02229,20.02229,0,0,0,28,48V208a20.02229,20.02229,0,0,0,20,20H80a19.86774,19.86774,0,0,0,8-1.68152A19.86774,19.86774,0,0,0,96,228h32a20.02229,20.02229,0,0,0,20-20V138.78638l19.93213,74.38842a19.99048,19.99048,0,0,0,24.49463,14.14161l30.91015-8.28223h0A20.02181,20.02181,0,0,0,237.47852,194.54ZM161.09131,94.91479l23.18262-6.21142,18.63476,69.54712-23.18213,6.21191ZM173.9209,50.06641l4.1416,15.45532-23.18262,6.21142-4.14111-15.45483ZM124,164H100V52h24ZM76,52V68H52V52ZM52,92H76V204H52Zm48,112V188h24v16Zm90.0791-.90039L185.938,187.64417l23.18213-6.21192,4.14111,15.45545Z"></path> </g></svg>
          Botes
        </a>

        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
          <li>
            <a href="/create" class="nav-link text-white navi-comps">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24" version="1.1" id="Uploaded to svgrepo.com" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" xml:space="preserve" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <style type="text/css"> .bentblocks_een{fill:#ffffff;} </style> <path class="bentblocks_een" d="M24,15v2h-7v7h-2v-7H8v-2h7V8h2v7H24z M24.485,24.485c-4.686,4.686-12.284,4.686-16.971,0 c-4.686-4.686-4.686-12.284,0-16.971c4.687-4.686,12.284-4.686,16.971,0C29.172,12.201,29.172,19.799,24.485,24.485z M23.071,8.929 c-3.842-3.842-10.167-3.975-14.142,0c-3.899,3.899-3.899,10.243,0,14.142c3.975,3.975,10.301,3.841,14.142,0 C26.97,19.172,26.97,12.828,23.071,8.929z"></path> </g></svg>
              Create
            </a>
          </li>
          <li>
            <a href="/books" class="nav-link text-white navi-comps">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24" fill="#ffffff" viewBox="0 0 256 256" id="Flat" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M224,44H160a43.87293,43.87293,0,0,0-32,13.84766A43.87293,43.87293,0,0,0,96,44H32A20.02229,20.02229,0,0,0,12,64V192a20.02229,20.02229,0,0,0,20,20H96a20.02229,20.02229,0,0,1,20,20,12,12,0,0,0,24,0,20.02229,20.02229,0,0,1,20-20h64a20.02229,20.02229,0,0,0,20-20V64A20.02229,20.02229,0,0,0,224,44ZM96,188H36V68H96a20.02229,20.02229,0,0,1,20,20V192.81348A43.74015,43.74015,0,0,0,96,188Zm124,0H160a43.71537,43.71537,0,0,0-20,4.82813V88a20.02229,20.02229,0,0,1,20-20h60Z"></path> </g></svg> 
              View
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white navi-comps">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M13.803 5.33333C13.803 3.49238 15.3022 2 17.1515 2C19.0008 2 20.5 3.49238 20.5 5.33333C20.5 7.17428 19.0008 8.66667 17.1515 8.66667C16.2177 8.66667 15.3738 8.28596 14.7671 7.67347L10.1317 10.8295C10.1745 11.0425 10.197 11.2625 10.197 11.4872C10.197 11.9322 10.109 12.3576 9.94959 12.7464L15.0323 16.0858C15.6092 15.6161 16.3473 15.3333 17.1515 15.3333C19.0008 15.3333 20.5 16.8257 20.5 18.6667C20.5 20.5076 19.0008 22 17.1515 22C15.3022 22 13.803 20.5076 13.803 18.6667C13.803 18.1845 13.9062 17.7255 14.0917 17.3111L9.05007 13.9987C8.46196 14.5098 7.6916 14.8205 6.84848 14.8205C4.99917 14.8205 3.5 13.3281 3.5 11.4872C3.5 9.64623 4.99917 8.15385 6.84848 8.15385C7.9119 8.15385 8.85853 8.64725 9.47145 9.41518L13.9639 6.35642C13.8594 6.03359 13.803 5.6896 13.803 5.33333Z" fill="#ffffff"></path> </g></svg>
              Share
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>