<%- include("partials/header.ejs") %>

<div class="web-title">
    <h1>Botes</h1>
    <p>Share your Book Notes to the public. Express your thoughts</p>
</div>

<%- include("partials/feats.ejs") %>
<%- include("partials/footer.ejs") %>